
 <div class="footer">
    <div class="card text-center bg-dark " style="width: 1168px; margin-left: 350px; z-index: 17;">
       
        <div class="card-body">

          <a href="#" class="btn btn-primary m-1" style="background-color: blue; border: none; border-radius: 23px; width: 37px;"><i class="fa fa-facebook"></i></a>

          <a href="#" class="btn btn-primary m-1"style="background-color: #55acee; border: none; border-radius: 23px; width: 37px;"><i class="fa fa-twitter"></i></a>

          <a href="#" class="btn btn-primary m-1" style="background-color:#dd4b39; border: none; border-radius: 23px; width: 37px;"><i class="fa fa-google-plus"></i></a>

          <a href="#" class="btn btn-primary m-1" style="background-color: #0082ca; border: none; border-radius: 23px; width: 37px;"><i class="fa fa-linkedin"></i></a>

          <a href="#" class="btn btn-primary m-1" style="background-color: #ac2bac; border: none; border-radius: 23px; width: 37px;"><i class="fa fa-instagram"></i></a>

        </div>
        <div class="card-footer text-muted text-white">© 2022 Created By:
                <a href="#"> News Web Aplication</a>
        </div>
      </div>
</div>
</body>

</html>