<div class="covid"
    style="height: 40vh; width: 320px;  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); border-radius: 20px; margin-top: 20px; margin-left: 2px;">
    <h1 style="color: red; ">COVID 19
        <img style="height: 100px; border-radius: 100%; "
            src="images/covid_logo.png" alt="">
    </h1>
    <p>The Virus was first reported in Wuhan, Hubel China on 17th Nov
        2019.</p>
    <h3>LIVE UPDATE <span style="font-size: 15px;">INDIA</span></h3>
    <h6 style="float: left;padding-left: 20px; ">Total Cases <span
            style="font-size: 23px; color: orangered; padding-left: 60px;">
            <%= cases %>+
        </span> </h6>
    <h6 style="float: left; padding-left: 20px;">Total Deaths <span
            style="font-size: 23px; color: red; padding-left: 50px;">
            <%= deaths %>+
        </span> </h6>
    <h6 style="float: left; padding-left: 20px;">Total Recovered <span
            style="font-size: 23px; color: green; padding-left: 26px;">
            <%= recovered %>+
        </span> </h6>
</div>